asgiref==3.8.1
attrs==23.2.0
backoff==2.2.1
bcrypt==4.1.3
blinker==1.8.2
branca==0.7.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
config==0.5.1
credentials==1.1
decouple==0.0.7
dj-database-url==2.2.0
Django==5.0.6
django-heroku==0.3.1
django-jazzmin==3.0.0
djangorestframework==3.15.2
Flask==3.0.3
Flask-Bcrypt==1.0.1
flask-marshmallow==1.2.1
folium==0.17.0
geographiclib==2.0
geopy==2.4.1
gunicorn==22.0.0
h11==0.14.0
idna==3.7
instaloader==4.11
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.3
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.4.0
mysqlclient==2.2.4
numpy==1.26.0
opencage==2.4.0
openrouteservice==2.3.3
outcome==1.3.0.post0
packaging==24.1
pandas==2.1.1
phonenumbers==8.13.39
pillow==10.3.0
psycopg2==2.9.9
pycparser==2.22
pygame==2.5.2
PyMySQL==1.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
requests==2.32.3
selenium==4.22.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.0
tk==0.1.0
trio==0.25.1
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2023.3
Unipath==1.1
urllib3==2.2.1
websocket-client==1.8.0
Werkzeug==3.0.3
whitenoise==6.7.0
wsproto==1.2.0
xyzservices==2024.6.0
